In [2]:
import pandas as pd

In [3]:
df = pd.read_csv (r'airbnb_1_2008-7_2021.csv')
df.head ()

,Date,Type,Confirmation Code,Start Date,Nights,Guest,Listing,Details,Reference,Currency,Amount,Paid Out,Host Fee,Cleaning Fee,Linens fee
0,7/4/2021,Payout,NaN,NaN,NaN,NaN,NaN,Transfer to •••••7868 (EUR),NaN,EUR,NaN,17.00,NaN,NaN,NaN
1,7/4/2021,Reservation,HMC5RNHHA5,6/3/2021,32.0,Vanessa Lexau,Duerme en una cabaña en medio de la ciudad,NaN,NaN,EUR,17.00,NaN,0.64,0.0,NaN
2,7/4/2021,Payout,NaN,NaN,NaN,NaN,NaN,Transfer to •••••4597 (EUR),NaN,EUR,NaN,77.44,NaN,NaN,NaN
3,7/4/2021,Reservation,HMC5RNHHA5,6/3/2021,32.0,Vanessa Lexau,Duerme en una cabaña en medio de la ciudad,NaN,NaN,EUR,77.44,NaN,2.92,0.0,NaN
4,6/20/2021,Payout,NaN,NaN,NaN,NaN,NaN,Transfer to •••••4597 (EUR),NaN,EUR,NaN,853.46,NaN,NaN,NaN

In [4]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               887 non-null    object
 1   Type               887 non-null    object
 2   Confirmation Code  475 non-null    object
 3   Start Date         475 non-null    object
 4   Nights             475 non-null    float64
 5   Guest              475 non-null    object
 6   Listing            475 non-null    object
 7   Details            453 non-null    object
 8   Reference          0 non-null      float64
 9   Currency           887 non-null    object
 10  Amount             476 non-null    float64
 11  Paid Out           411 non-null    float64
 12  Host Fee           399 non-null    float64
 13  Cleaning Fee       399 non-null    float64
 14  Linens fee         77 non-null     float64
dtypes: float64(7), object(8)
memory usage: 104.1+ KB